*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent{
    height: 100vh;
    border: 20px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.child1{
    width: 200px;
    height: 200px;
    background:  rgb(172, 57, 53);
    order: 2;
    flex-shrink: 1;
}
.child2{
    width: 200px;
    height: 200px;
    background: rgb(19, 61, 134);
    order: -1;
    flex-grow: 1;
    align-self: center;
}
.child3{
    width: 200px;
    height: 200px;
    background:  rgb(149, 43, 140);
    order: 0;
}